.page {
  min-inline-size: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-base);
  font-variation-settings: var(--font-weight-card-text);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-text);
}

.content-section {
  width: var(--block-size);
}

.header {
  font-family: var(--font-family-alternative);
  background-color: var(--background);
  border: var(--color-text) solid 2px;
  margin-block: 100px;
  min-block-size: clamp(327px, 31.2483vw + 226.9831px, 368px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: block;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.title-description {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  margin-block-start: 25px;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__item {
  width: 78px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "\25b6";
  position: absolute;
  left: -20px;
  animation: arrow 1s ease-in-out infinite;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  block-size: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

article {
  background-color: var(--background);
  border: var(--color-text) solid 2px;
}

h2 {
  font-variation-settings: var(--font-weight-card-name);
  font-size: 18px;
  padding: 4px 10px 6px;
}

.watermarks {
  position: relative;
}

img {
  block-size: clamp(371px, 50.2486vw + 210.2045px, 696px);
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-top: var(--color-text) solid 2px;
  border-bottom: var(--color-text) solid 2px;
}

.label-img {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--font-family-alternative);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--text-stroke-color), -1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color), 1px -1px 0 var(--text-stroke-color);
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))) {
  .label-img {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 24px 25px 25px;
  font-size: 18px;
  line-height: 21px;
}

.buttons {
  margin-block-start: 0;
  display: flex;
  gap: 6px;
  align-items: center;
  align-self: flex-end;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--color-text);
  background-color: var(--background);
}

.button-animation {
  display: block;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-animation:focus {
  outline: none;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px 0 0 currentColor;
}

.button-animation::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--strip);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
}

.button-animation:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-family-alternative);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
  color: var(--strip);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px auto 100px;
  width: 335px;
  min-height: 55px;
  background-color: var(--background);
  border: 2px solid var(--color-text);
}

.save-button .button__text {
  line-height: 1;
}

dialog {
  color: var(--color-text);
  background: var(--background);
  border: 2px solid var(--color-text);
  width: 353px;
  padding: 30px;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block-end: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.floppy {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  color: var(--strip);
  mix-blend-mode: difference;
}

.dialog-floppy {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.close {
  background: var(--background);
  border: 2px solid var(--color-text);
  width: 293px;
  min-height: 38px;
  display: block;
}

.dialog-text {
  font-family: var(--font-family-alternative);
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 234px;
  text-transform: uppercase;
}

.filter-saturate {
  filter: saturate(58%);
}

.filter-hue-rotate {
  animation: filter-image 10s linear infinite;
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-invert {
  filter: invert(0.7);
  transition: 0.5s linear;
}

.filter-invert:hover {
  filter: invert(1);
}

.mix-filter {
  filter: invert(1) saturate(60%) hue-rotate(90deg);
}

.filter-contrast {
  filter: contrast(250%);
}

.filter-opacity {
  filter: invert(1) opacity(80%);
}

@media (width <= 375px) {
  .content-section {
    width: var(--mobile-block-size);
  }

  .header {
    margin-block: 100px;
    min-block-size: 327px;
  }

  .title {
    margin-block-end: 20px;
    font-size: clamp(3.0625rem, 2.9965rem + 0.2817vw, 3.125rem);
  }

  .title-description {
    font-size: clamp(0.875rem, 0.809rem + 0.2817vw, 0.9375rem);
  }

  .label-img {
    right: 13px;
    top: 25px;
  }

  .card-data {
    gap: 25px;
    padding: 25px;
  }

  .buttons {
    margin-block-start: 0;
  }

  .save-button {
    flex-direction: column;
    gap: 8px;
    width: 306px;
    min-height: 84px;
    margin-bottom: 103px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  dialog {
    width: 341px;
    padding-inline: 40px;
  }

  .dialog-content {
    gap: 20px;
  }

  .close {
    width: 261px;
  }

  .dialog-text {
    max-width: 198px;
  }
}
