:root {
  --font-family-main: 'Inter-Variable', sans-serif;
  --font-family-accent: 'PressStart2P', fantasy, sans-serif;

  --main-font-title-weight: 715;
  --main-font-weight: 410;

  --accent-color: #000;
  --theme-background: #fff;
  --button-difference-text-color: #fff;
  --contour-color: #000;
  --core-color: transparent;
  --main-body-color: transparent;
  --animation-fill-color: red;
  --liked-color: #ff0000;
  --sparks-opacity: 0;
  --text-stroke-color: #fff;

  --block-size: clamp(375px, 260.5634px + 30.5164vw, 700px);
  --mobile-block-size: 100%;

  --grid-background:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);

  /* Backward-compatible aliases for already used styles */
}
